main {
    background-color:whitesmoke;
    
}

/* new nav - made to be responsive 
+ scrollbar edits */

:root {
    font-size: 16px;
    font-family: 'Montserrat';
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed: 500ms;
    --textbg-primary:rgb(220,220,220);
    --textbg-secondary:rgb(255,255,255);
    --fa-primary:coral;
    --fa-secondary:black;
}

body::-webkit-scrollbar {
    width: 0.25rem;

} 

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: antiquewhite;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color:var(--text-secondary)
}
.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }

.fa-primary {
    color: var(--fa-primary);
}

.fa-secondary {
    color: var(--fa-secondary);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}  

li a:hover {
    background-color: #555;
    color: white;
  }

/* end of nav 
beginning of main*/
main h2 {
    font-family: 'Montserrat';
    background-color: antiquewhite;
    padding: 4px;
    
}
main h2:hover {
    color: aliceblue;
    background-color: black;
    transition: 0.3s;
}
.services {
    display:flow-root;
    flex-wrap: wrap-reverse;
}
#inline-image {
    float: right;
    margin: 3px 15px 2px 1px;
    border: 4px solid black;
}
.servicesp:hover {
    background-color: grey;
    color: white;
    transition: 0.5s;
}
.ghostly-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    border-radius: 100%;
    background-color: coral;
    padding: 0.2rem;
    border: none;
    cursor: pointer;


}
/* about me */
.aboutme h3 {
    padding-left: 1.1%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.aboutme h3:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    position: static;
}
.aboutme p {
    display: block;
    max-width: fit-content;
    border: 2px solid black;
    padding: 1.8px;
}

.aboutme p:hover {
    background-color: rgb(81, 27, 108);
    transition: 0.2s;
    color: antiquewhite;
}
#aboutmecontainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: [spacing] 1fr [boxtitle] 1fr [boxcontent] 1fr;
    grid-template-areas: 
    "spacing boxtitle boxcontent"
    "spacing boxtitle boxcontent";
    align-items: stretch;
    justify-items: center;
}

/*contact me*/
.contactmecontainer {
    object-position: top;
}
.contactmecontainer > * {
    margin-left: 1%;
    margin-bottom: 0%;
    margin-top: 0%;
}
#contactme p:hover {
    background-color: #23232e;
    color:aliceblue;
    transition: 0.3s;
}
#contactme p {
    display: flex;
    max-width: fit-content;
}

/* footer */
footer {
    margin-top: 0;
    padding-top: 2%;
    background-color: whitesmoke;
    border-bottom: 3px solid black;
}

footer p:first-of-type {
    margin-top: 0;
    padding-top: 1%;
    border-top: 3px solid black;
}

/* small screens */
@media only screen and (max-width:600px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 5rem;
        overflow:hidden;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content:center;
    }

    .nav-item-linktext {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
    }
    footer {
        margin-bottom: 10px;
        padding: 0;
    }

    .services h2 {
        padding-top: 3%;
    }

    :root {
        font-size: 14.3px;
    }

}

/* large screens */
@media only screen and (min-width:600.1px) {
    .navbar {
        top: 0;
        left: 0;
        width: 5rem;
        height: 100vh;
        overflow: hidden;
        z-index: 1;
    }
    
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }
    main {
        margin:0;
        padding:0;
        margin-left: 5rem;
    }
    footer {
        padding-top: 15px;
        margin:0;
        margin-left: 5rem;
    }
    .aboutme p,.services p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .services h2 :first {
        margin-top: 1rem;
    }
}

