main {
    background-color:whitesmoke;
    
}

/* new nav - made to be responsive 
+ scrollbar edits */

:root {
    font-size: 16px;
    font-family: 'Montserrat';
    --text-primary:#b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --transition-speed: 500ms;
    --textbg-primary:rgb(220,220,220);
    --textbg-secondary:rgb(255,255,255);
    --fa-primary:coral;
    --fa-secondary:black;
}

body::-webkit-scrollbar {
    width: 0.25rem;

} 

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: antiquewhite;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
    overflow: hidden;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color:var(--text-secondary)
}
.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }


.fa-primary {
    color: var(--fa-primary);
}

.fa-secondary {
    color: var(--fa-secondary);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}  

li a:hover {
    background-color: #555;
    color: white;
  }

/* language selector - initially copied, but undergoing rewriting for better understanding*/
nav .switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

nav .switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

nav input.check-toggle-round-flat:checked ~ .off {
  color: var(--fa-primary);
}

nav input.check-toggle-round-flat:checked ~ .on {
  color: var(--fa-secondary);
}

nav .switch > span.on {
  left: 0;
  padding-left: 2px;
  color: var(--fa-primary);
}

nav .switch > span.off {
  right: 0;
  padding-right: 4px;
  color: var(--fa-secondary);
}

nav .check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
nav .check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: var(--fa-primary);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
nav input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

nav input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--fa-primary);
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
nav input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: var(--fa-secondary);
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

nav input.check-toggle-round-flat:checked + label {
    margin-left: 0px;
}

nav input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

/* end of nav 
beginning of main*/


main h2 {
    font-family: 'Montserrat';
    background-color: antiquewhite;
    padding: 4px;
    
}

main h2:hover {
    color: aliceblue;
    background-color: black;
    transition: 0.3s;
}
.services {
    display:flow-root;
    flex-wrap: wrap-reverse;
}

#inline-image {
    float: right;
    margin: 3px 15px 2px 1px;
    border: 4px solid black;
}

.servicesp:hover {
    background-color: grey;
    color: white;
    transition: 0.5s;
}

/* about me */
/* 451-590 */


.aboutme h3 {
    padding-left: 1.1%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.aboutme h3:hover {
    background-color: black;
    color: white;
    transition: 0.3s;
    position: static;
}
.aboutme p {
    display: block;
    max-width: fit-content;
    border: 2px solid black;
    padding: 1.8px;
}

.aboutme p:hover {
    background-color: rgb(81, 27, 108);
    transition: 0.2s;
    color: antiquewhite;
}

#aboutmecontainer {
    display: grid;
    grid-template-columns: [spacing] 1fr [boxtitle] 1fr [boxcontent] 1fr [spacing2] 1fr;
    grid-template-rows: [row1] 1fr [row2] 1fr;
    grid-template-areas: 
    "spacing boxtitle boxcontent spacing2"
    "spacing boxtitle boxcontent spacing2";
}

/*contact me*/

#contactme p:hover{
    background-color: #23232e;
    color:aliceblue;
    transition: 0.3s;
}

#contactme p{
    display: flex;
    max-width: fit-content;
}

/* small screens */

@media only screen and (max-width:600px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 5rem;
        overflow:hidden;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content:center;
    }

    .nav-item-linktext {
        display: none;
    }

    main {
        margin: 0;
        padding: 0;
    }
}

/* large screens */

@media only screen and (min-width:600.1px) {
    .navbar {
        top: 0;
        left: 0;
        width: 5rem;
        height: 100vh;
        overflow: hidden;
        z-index: 1;
    }
    
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        transition: opacity var(--transition-speed);
    }
    main {
        margin:0;
        padding:0;
        margin-left: 5rem;
    }
    .aboutme p,.services p {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .services h2 :first {
        margin-top: 1rem;
    }
}